<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @person.postal_code %>
</p>

<p>
  <strong>City:</strong>
  <%= @person.city %>
</p>

<p>
  <strong>Town:</strong>
  <%= @person.town %>
</p>

<p>
  <strong>Banchi:</strong>
  <%= @person.banchi %>
</p>

<p>
  <strong>Tel sigai:</strong>
  <%= @person.tel_sigai %>
</p>

<p>
  <strong>Tel sinai:</strong>
  <%= @person.tel_sinai %>
</p>

<p>
  <strong>Keitai:</strong>
  <%= @person.keitai %>
</p>

<p>
  <strong>Bikou:</strong>
  <%= @person.bikou %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @person.latitude %>
</p>

<p>
  <strong>Longtude:</strong>
  <%= @person.longtude %>
</p>

<p>
  <strong>Gmaps:</strong>
  <%= @person.gmaps %>
</p>

<p>
  <strong>Douki:</strong>
  <%= @person.douki %>
</p>

<p>
  <strong>Genki:</strong>
  <%= @person.genki %>
</p>

<p>
  <strong>Kouenkai:</strong>
  <%= @person.kouenkai %>
</p>

<p>
  <strong>Kihukin:</strong>
  <%= @person.kihukin %>
</p>

<p>
  <strong>Syoukai:</strong>
  <%= @person.syoukai_id %>
</p>

<p>
  <strong>Level:</strong>
  <%= @person.level %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
