<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @elector.name %>
</p>

<p>
  <strong>Yomi:</strong>
  <%= @elector.yomi %>
</p>

<p>
  <strong>Town:</strong>
  <%= @elector.town %>
</p>

<p>
  <strong>Banchi:</strong>
  <%= @elector.banchi %>
</p>

<p>
  <strong>Kakunin:</strong>
  <%= @elector.kakunin %>
</p>

<p>
  <strong>Kazoku:</strong>
  <%= @elector.kazoku_id %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @elector.postal_code %>
</p>

<p>
  <strong>Bikou:</strong>
  <%= @elector.bikou %>
</p>

<p>
  <strong>Tel sinai:</strong>
  <%= @elector.tel_sinai %>
</p>

<p>
  <strong>Kouenkai:</strong>
  <%= @elector.kouenkai %>
</p>

<p>
  <strong>Douki:</strong>
  <%= @elector.douki %>
</p>

<p>
  <strong>Kitaichi:</strong>
  <%= @elector.kitaichi %>
</p>

<p>
  <strong>Syoukai:</strong>
  <%= @elector.syoukai_id %>
</p>

<p>
  <strong>Tehai 1:</strong>
  <%= @elector.tehai_1 %>
</p>

<p>
  <strong>Tehai 2:</strong>
  <%= @elector.tehai_2 %>
</p>

<p>
  <strong>Tehai 3:</strong>
  <%= @elector.tehai_3 %>
</p>

<%= link_to 'Edit', edit_elector_path(@elector) %> |
<%= link_to 'Back', electors_path %>
